Flask==2.3.3
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
flask-socketio==5.3.6
eventlet==0.33.3
gunicorn==21.2.0
Werkzeug==2.3.8
psycopg2-binary==2.9.9
python-engineio==4.9.0
python-socketio==5.11.2
greenlet==3.0.3